[run]
parallel = True
source = alphacsc
omit =
    # Omit test files
    */tests/*
    # Omit dataset files
    *alphacsc/datasets/*
    # Omit other files
    *alphacsc/other/*
    # Omit viz utils libraries
    *alphacsc/viz/*
    # Omit some utils libraries
    alphacsc/utils/profile_this.py
    alphacsc/utils/signal.py
    alphacsc/utils/tools.py
