# Files
*.o
*.so
*.mat
*.pyc
*.profile
*.egg-info
.coverage*
!.coveragerc
alphacsc/cython_code/*.c
alphacsc/error_test_init_dictionary_failed.py

# Exps directories
build
figures
save_exp

# tools directories
dist
joblib
.cache
.vscode
__pycache__
.pytest_cache
.ipynb_checkpoints
alphacsc/_version.py
