name: Deploy GitHub pages

on:
  pull_request:
  push:
    branches: master

    
jobs:
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Generate HTML docs
        uses: ax3l/sphinx-action@newer-sphinx
        env:
          OMPI_ALLOW_RUN_AS_ROOT: 1
          OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
          MPI_HOSTFILE: hostfile
          ALLOW: --allow-run-as-root
        with:
          docs-folder: "doc/"
          pre-build-command: |
            apt-get update
            apt-get install -y gcc git libopenmpi-dev openmpi-bin
            python -m pip install --upgrade pip
            python -m pip install -e .[doc,dicodile]
            python -m pip install git+https://github.com/mne-tools/mne-python.git@main
            echo "localhost slots=50" > hostfile
            echo $MPI_HOSTFILE
            export MPI_HOSTFILE=hostfile
            echo $MPI_HOSTFILE
            echo $(pwd)
            cd doc
            sphinx-multiversion --dump-metadata . _build
          build-command: "make multihtml"
      - name:  Upload generated HTML as artifact
        uses: actions/upload-artifact@v2
        with:
          name: DocHTML
          path: doc/_build/html/

  deploy_docs:
    if: github.ref == 'refs/heads/master'
    needs:
      build_docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: DocHTML
          path: doc/_build/html/
      - name: Commit to documentation repo
        run: |
          git clone --no-checkout --depth 1 https://github.com/alphacsc/alphacsc.github.io.git --branch master --single-branch gh-pages
          cp -r doc/_build/html/* gh-pages/
          cd gh-pages
          touch .nojekyll
          git config --local user.email "alphacsc@github.com"
          git config --local user.name "alphacsc GitHub Action"
          git add .
          git commit -m "Update documentation" -a || true
      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          repository: alphacsc/alphacsc.github.io
          branch: master
          directory: gh-pages
          github_token: ${{ secrets.DEPLOY_PAGES }}
