name: lint
on:
  pull_request:
  push:
    branches: master

jobs:
  flake8:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Run flake8
        run: |
          pip install flake8==3.8.0
          flake8 --exclude=alphacsc/other/ --count alphacsc
